# --- FILE TEMPORANEI E SEGRETI ---
*.tmp
*.bak
*.swp
*.log
.DS_Store
Thumbs.db

# Sicurezza: ignora tutti i file .env e config
*.env
*config.yaml
*config.yml
*config.toml
# Eccezione specifica
!server.env

# --- CARTELLE DATI (DOCKER/CONTAINER) ---
# Usiamo / all'inizio se queste cartelle sono nella root, 
# oppure pattern più specifici per evitare falsi positivi nel codice.
**/data/
**/var/
**/redisdata/
**/pgdata/
**/media/
**/export/
**/consume/
**/volume/
**/cache/
**/letsencrypt/
**/files/
**/postgresql/
**/db/
**/upload-dir/
**/renewal/
**/config/
**/extensions/
**/plugins/
**/ect-dnsmasq.d/
**/etc-dnsmasq.d/
**/etc-pihole/
**/logs/

# Correzione refusi e cartelle di sistema
**/etc/
**/ect/

# --- CONFIGURAZIONI SPECIFICHE ---

# Homepage: inclusione esplicita della cartella e dei suoi contenuti
!homepage/config/
!homepage/config/**
homepage/config/logs/

# Obsidian: ignora config
obsidian/config.yaml

# Frigate: ignora config
!frigate/config/config.yaml