# Database
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db_recipes
POSTGRES_PORT=5432
DB_ENGINE=django.db.backends.postgresql

# Django / Tandoor
SECRET_KEY=YOUR_SECRET_KEY
GUNICORN_MEDIA=1